<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="espeed" connectionString="Server=sql;Database=espeed;Trusted_Connection=True;"/>
    </connectionStrings>
    <appSettings>
        <add key="Outputfolder" value="\\moria\users$\hsystemsftp\Outbound"/>
        <!--<add key="Outputfolder" value="c:\test"/>-->
        <add key="FTP:SFTP_License" value="Secure FTP Factory for .NET:Single Developer:Registered User:01-01-3999:I5eiUi3WpB4FspHQ5uOlKRh2eabOrFtcMbh74FmX/UzFUolDU9f5hbostB6xBnB9Xq8sNOFDx7jmiPkXbKhpZw4k0sWKlSywRceV4ir8csHWdBYdmFkrOSY+eYgjp+ud9GsP+m8sO1dun1qlzBMW87Fkpsmgbs88W7USXkMBl/U="/>
        <add key="FTPS:SSH_License" value="SSH Factory for .NET:Single Developer:Registered User:01-01-3999:SqmHLZPj8UhKl9+/RAnmAkXkCPfv7c3fH2F1bKjYwTmH4pOyXv5shXQkj3dAJ5Njrxa9BfTEQJmrQrccH5/vc6zXuqnBN8IOzGFjKu1V7ma7M0F54tYLuMuthW6FIoPjLFFAUU6G0LEF3rSUYDWO3vb2hSWDtFOGW87lGiNE5AA="/>
        <add key="FTP:Address" value="transfer.healthesystems.com"/>
        <add key="FTP:UserId" value="jeco"/>
        <add key="FTP:Password" value="s9dCqfwBk3"/>
        <add key="FTP:Debug" value="true"/>

        <add key="FTPDestinationFolder" value="/home/jeco/Test/Inbound"/>

        <add key="SourceEmail" value="HealthESystem@johnseastern.com"/>
        <add key="emailAuthenUID" value="tsalert"/>
        <add key="emailAuthenPWD" value="UX9HZumL"/>

        <add key="emailNotification" value="bdarley@johnseastern.com"/>
        <!--
    Folder structure for host
        /home/jeco/Inbound/Working"
        /home/jeco/Outbound
        /home/jeco/Test/Inbound
        /home/jeco/Test/Outbound
    -->
    </appSettings> 
</configuration>